@model EnterpriseProject.Project.MVCWebUI.Models.ProductListViewModel

@{
    ViewData["Title"] = "Layout Deneme";
}

<h1>Index</h1>

@foreach (var item in Model.Products)
{
    <p>@item.Name</p>
}

<product-list-pager current-page="Model.CurrentPage" current-category="Model.CurrentCategory" page-count="Model.PageCount" page-size="Model.PageSize"></product-list-pager>